* {
  box-sizing: border-box;
}

img {
  /* border: 20px solid yellow; */
  width: 275px;
  clip-path: inset(0px 10px 10px 10px);

  /* clip-path: rect(50px, 50px, 50px, 50px); */
}

h1 {
  text-shadow: 1px 1px 2px grey;
}

body {
  background-color: #12d674;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  background: yellow;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 12px;
  margin: 20px 20px;
  border-width: 2px;
  border-style: outset;
}

.btn-get {
  background: navy;
  color: white;
}

.btn-row {
  display: flex;
}

.joke-container {
  height: 30vh;
}


p {
  background-color: white;
  border-radius: 5px;
  margin: 0;
  padding: 5px 10px;
  box-shadow: 2px 2px 2px grey;
  width: 300px;
}
